flows.json
[{"id":"f740ea54.e828f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f8bb39fe.7d86d8","type":"ui_form","z":"f740ea54.e828f8","name":"","label":"oring failures","group":"28c68b55.d935f4","order":0,"width":0,"height":0,"options":[{"label":"temperature","value":"temp","type":"number","required":true}],"formValue":{"temp":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":217.5,"y":159,"wires":[["f85fbb11.c20928","37c520dd.ef0fd","41cec33.cf4283c"]]},{"id":"37c520dd.ef0fd","type":"ui_text","z":"f740ea54.e828f8","group":"81467fb6.e55fb","order":0,"width":0,"height":0,"name":"","label":"temperature","format":"{{msg.payload.temp}}","layout":"row-spread","x":463,"y":212,"wires":[]},{"id":"f85fbb11.c20928","type":"debug","z":"f740ea54.e828f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":469.5,"y":138,"wires":[]},{"id":"41cec33.cf4283c","type":"function","z":"f740ea54.e828f8","name":"token generation","func":"global.set(\"temp\",msg.payload.temp)\nreturn msg;","outputs":1,"noerr":0,"x":522.5,"y":66,"wires":[["94eae89c.703658","32e09203.aa41ae"]]},{"id":"94eae89c.703658","type":"ui_text","z":"f740ea54.e828f8","group":"28c68b55.d935f4","order":1,"width":0,"height":0,"name":"","label":"temperature","format":"{{msg.payload.temp}}","layout":"row-spread","x":747,"y":98,"wires":[]},{"id":"32e09203.aa41ae","type":"http request","z":"f740ea54.e828f8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"'https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/f557c970-b046-49f9-b906-a6be1f2d6259/deployments/382ef748-2d39-4d5e-b0b4-2728055f0cd5/online'","tls":"","proxy":"","authType":"basic","x":748,"y":190,"wires":[["9c3c6acb.6edf28"]]},{"id":"c185571.14f36a8","type":"function","z":"f740ea54.e828f8","name":"prediction","func":"var token=msg.payload.token;\nvar temp=global.get(\"temp\");\nmsg=payload=(\"fields\":[\"temperature\"],\"values\":[[temp]]);\nmsg.headers=(\"Authorization\":\"Bearer\"+token)\nreturn msg;","outputs":1,"noerr":0,"x":963.5,"y":155,"wires":[["32e09203.aa41ae","4c09f157.aa259"]]},{"id":"9c3c6acb.6edf28","type":"debug","z":"f740ea54.e828f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":978.5,"y":235,"wires":[]},{"id":"4c09f157.aa259","type":"http request","z":"f740ea54.e828f8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"'https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/f557c970-b046-49f9-b906-a6be1f2d6259/deployments/382ef748-2d39-4d5e-b0b4-2728055f0cd5/online'","tls":"","proxy":"","authType":"basic","x":1140,"y":148,"wires":[["b93d2093.8d6cf","29738e45.534a32"]]},{"id":"b93d2093.8d6cf","type":"debug","z":"f740ea54.e828f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1377.5,"y":101,"wires":[]},{"id":"29738e45.534a32","type":"function","z":"f740ea54.e828f8","name":"obj parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":1346.5,"y":180,"wires":[["ce62a9cb.efa708","cdd7e83d.5857d8"]]},{"id":"ce62a9cb.efa708","type":"debug","z":"f740ea54.e828f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1605.5,"y":164,"wires":[]},{"id":"cdd7e83d.5857d8","type":"ui_text","z":"f740ea54.e828f8","group":"28c68b55.d935f4","order":2,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":1622,"y":220,"wires":[]},{"id":"28c68b55.d935f4","type":"ui_group","z":"","name":"Regression","tab":"93aa6bc0.2a8b28","disp":true,"width":"6","collapse":false},{"id":"81467fb6.e55fb","type":"ui_group","z":"","name":"[smart bridge]regression","tab":"93aa6bc0.2a8b28","disp":true,"width":"6","collapse":false},{"id":"93aa6bc0.2a8b28","type":"ui_tab","z":"","name":"Smart Bridge","icon":"dashboard","disabled":false,"hidden":false}]